<footer class="page-footer footer footer-static footer-dark p-darker-bg gradient-shadow navbar-border navbar-shadow">
  <div class="footer-copyright">
    <div class="container">
      <span
        >&copy; 2019 <a href="#" target="_blank">ERA</a> All rights
        reserved. </span
      ><span class="right hide-on-small-only"
        >Design and Developed by
        <a href="#!">Team ERA&nbsp; </a>
        <a href="#!">#SolutionChallenge&nbsp;  #DSC&nbsp;  #DSCSSA&nbsp;</a>
        </span
      >
    </div>
  </div>
</footer>
