<div class="sidebar animate fadeRight">
  <!--Contacts Widgets-->
  <div class="card pr-3 pl-3 pt-3 pb-3">
    <h6 class="header mb-5 border-bottom-1 pb-2 red white-text">
      Ghana Red Cross Society
    </h6>
    <ul class="collection mb-0 pr-2">  
      <li class="collection-item mb-3">
         <p class="font-weight-600 m-0" >Greater Accra Region Head Quarters</p>
         <p class="description m-0">Corporate Office, Accra</p>
         <p class="ultra-small m-0">Open &middot; Close 5pm</p>
         <a href="tel:+233302520397" class="secondary-content red-text"><i class="material-icons red-text">call</i>Call</a>
      </li>
      <li class="collection-item mb-3 mt-3">
         <p class="font-weight-600 m-0" >Kumasi Metropolitan</p>
         <p class="description m-0">Emergency care service, Accra</p>
         <p class="ultra-small m-0">Open &middot; Close 5pm</p>
         <a href="tel:+233245744127" class="secondary-content red-text"><i class="material-icons red-text">call</i>Call</a>
      </li>
      <li class="collection-item mb-3 mt-3">
         <p class="font-weight-600 m-0" >Western Region Head Quarters</p>
         <p class="description m-0">Corporate Office, Takoradi</p>
         <p class="ultra-small m-0">Open &middot; Close 5pm</p>
         <a href="tel:+233242222540" class="secondary-content red-text"><i class="material-icons red-text">call</i>Call</a>
      </li>
   </ul>
  </div>
  <!--Contacts Widgets-->
  <div class="card pr-3 pl-3 pt-3 pb-3">
    <h6 class=" header mb-5 border-bottom-1 pb-2">
      Ghana Ambulance Service
    </h6>
    <ul class="collection mb-0 pr-2">  
      <li class="collection-item mb-3">
         <p class="font-weight-600 m-0" >Greater Accra Region Head Quarters</p>
         <p class="description m-0">Ambulance Service, Accra</p>
         <p class="ultra-small m-0">Open &middot; 24 hours</p>
         <a href="tel:+233302787301" class="secondary-content blue-text"><i class="material-icons blue-text">call</i>Call</a>
      </li>
      <li class="collection-item mb-3 mt-3">
         <p class="font-weight-600 m-0" >Ashanti Region</p>
         <p class="description m-0">Ambulance Service, Bekwai</p>
         <p class="ultra-small m-0">Open &middot; 24 hours</p>
      </li>
   </ul>
  </div>
  <!--Calender Widget-->
  <div class="card padding-5">
    <div id="caleandar"></div>
  </div>
</div>