<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out"
    data-menu="menu-navigation" data-collapsible="menu-accordion">
    <li class="bold">
      <div class="brand-sidebar" style="position:relative; left: 0px !important;box-shadow: 0 4px 7px 0 rgba(0,0,0,.2) !important">
        <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="/"><img class="hide-on-med-and-up" style="display:inline-block !important;"
              src="/app-assets/images/logo/logo.png" alt="ERA logo" />
              <span class="logo-text "> <p>Emergency</p> <hr> <p>Response Admin</p></span></a><a
            class="navbar-toggler" href="#"><i class="material-icons right mr-0" style="width: auto !important;">radio_button_checked</i></a></h1>
      </div>
    </li>
    <li class="bold pt-5"><a class="waves-effect waves-cyan" href="/"><i class="material-icons">dvr</i><span
          class="menu-title">Dashboard</span></a>
    </li>
    <li class="bold report-nav pt-5 pb-5"><a style="border-radius: 50px !important;padding-left: 7px !important;" class=" waves-effect waves-cyan mt-0 mb-0 card p-dark-bg white-text" style="padding-left: 7px !important" href="response">
      <i class="material-icons white-text">local_hospital</i><span class="menu-title">Reports</span></a>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)" tabindex="0"><i class="material-icons">message</i><span class="menu-title" data-i18n="Chart">Health Tips</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub pl-5" data-collapsible="accordion">
          <li><a href="/health-tips"><i class="material-icons">remove_red_eye</i><span data-i18n="ChartJS">All Health Tips</span></a>
          </li>
          <li><a href="add-health-tip"><i class="material-icons">add_fill</i><span data-i18n="Chartist">Add New</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)" tabindex="0"><i class="material-icons">healing</i><span class="menu-title" data-i18n="Chart">Emergencies</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub pl-5" data-collapsible="accordion">
          <li><a href="/first-aid"><i class="material-icons">remove_red_eye</i><span data-i18n="ChartJS">All First Aid</span></a>
          </li>
          <li><a href="/add-first-aid"><i class="material-icons">add</i><span data-i18n="Chartist">Add New</span></a>
          </li>
        </ul>
      </div>
    </li>
    <div class="divider"></div>
    <li class="bold"><a class="waves-effect waves-cyan logout" href="response"><i class="material-icons">keyboard_tab</i><span
          class="menu-title" >Logout</span></a>
    </li>
  </ul>
  <div class="navigation-background"></div><a
    class="sidenav-trigger btn-sidenav-toggle primary-text hide-on-large-only"
    href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>
<!-- END: SideNav-->